.banner {
  background-color: #fff;
}

.banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  @include container;
}

.banner__banner-item {
  overflow: hidden;
  height: 100%;
  width: 100%;

  &:focus {
    display: block;
  }

  &:hover {
    .banner-item   {
        transform: scale(1.02);
    }
  }
}
