.button-item {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.button-item:hover {
  background: rgba(0,0,0,1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
}
