
.contact-box {
  padding: 20px;
}

.contact-box__website {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.contact-box__title {
  margin-bottom: 30px;
}

.contact-box__phone {
  margin-bottom: 30px;
}

.contact-box__email {

}
