.form {

}

.form__section {
  display: flex;
  margin-bottom: 20px;
}

.form__item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.form__section .form-item {
  margin-right: 20px;
}
