.input-item {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  background: #fff;
}

.input-item_is-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.input-item_is-select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.input-item_is-textarea {
  height: 150px;
}
