.service {
  cursor: pointer;
  width: 300px;
  height: 250px;
  padding: 5px;
  position: relative;
  transition: box-shadow .4s;
  transition: all 0.7s ease;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover {

    box-shadow: 5px 11px 20px 0px rgba(0, 0, 0, 0.15), 0 12px 12px 0 rgba(0, 0, 0, 0.06), 0 6px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 5px 0 rgba(0, 0, 0, 0.04), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
    
    &:after {
      opacity: 0.2;
    }

    .service__item {
      color: #fff;
    }

    .service__background {
     opacity: 1;
     transition: all 0.5s ease;
    }
  }

  &_is-web {
    &:hover {
      .service__background {
        background: url("../images/web-development.png");
      }
    }
  }

  &_is-mobile {
    &:hover {
      .service__background {
        background: url("../images/mobile_bg.jpg");
      }
    }
  }

  &_is-custom {
    &:hover {
      .service__background {
        background: url("../images/cms_bg.jpg");
      }
    }
  }

  &_is-consultancy {
    &:hover {
      .service__background {
        background: url("../images/cloud_bg.jpg");
      }
    }
  }
}

.service:hover {
  
}

.service__background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  opacity: 0;

  &:after {
    content: "";
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.service__image {
  margin-bottom: 20px;
}

.service__item {
  position: absolute;
}

.service__name {
  line-height: 1.7;
  font-size: 23px;
  padding: 0px 10px;
}

.service__description {
  line-height: 1.7;
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
