.service {
  margin-right: 20px;
  transition: box-shadow .4s;
  cursor: pointer;

  &_is-web {
    &:hover {
      .service__background {
        opacity: 1;
        background-image: url("../images/web-development.png");
      }
    }
  }

  &_is-mobile {
    &:hover {
      .service__background {
        opacity: 1;
        background-image: url("../images/mobile_bg.jpg");
      }
    }
  }

  &_is-custom {
    &:hover {
      .service__background {
        opacity: 1;
        background-image: url("../images/cms_bg.jpg");
      }
    }
  }

  &_is-consultancy {
    &:hover {
      .service__background {
        opacity: 1;
        background-image: url("../images/cloud_bg.jpg");
      }
    }
  }
}

.service:hover {
  box-shadow: 0 24px 24px 0 rgba(0,0,0,.15), 0 12px 12px 0 rgba(0,0,0,.06), 0 6px 6px 0 rgba(0,0,0,.06), 0 5px 5px 0 rgba(0,0,0,.04), 0 4px 4px 0 rgba(0,0,0,.02), 0 2px 2px 0 rgba(0,0,0,.02);
}

.service__background-container {
  &:hover {
    .service__background {
      background-image: url("../images/cloud_bg.jpg");
    }
  }
  position: relative;
}

.service__background {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease;

   &:after {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
   }
}

.service__item {

}

.service__name {
  line-height: 1.7;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.service__description {
  line-height: 1.7;
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
