.services {
  flex: 1;
  min-height: 300px;
  z-index: 1;
  background: #fff;
  padding-top: 100px;
}

.services__content {
  margin-bottom: 30px;
  @include container;
}

.services__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.services__description {
  line-height: 1.7;
}

.services__service-content {
  display: flex;
  margin: 20px 0px;
}
