<li class="nav-bar__item">
  {{#link-to 'main.about' class="nav-bar__link" activeClass="nav-bar__link_is-active"}}
    {{t "about.title"}}
  {{/link-to}}
</li>
<li class="nav-bar__item">
    {{#link-to 'main.services' class="nav-bar__link" activeClass="nav-bar__link_is-active"}}
       {{t "services.title"}}
    {{/link-to}}
</li>
<li class="nav-bar__item">
    {{#link-to 'main.work-with-us' class="nav-bar__link" activeClass="nav-bar__link_is-active"}}
       {{t "workwithus.title"}}
    {{/link-to}}
</li>
<li class="nav-bar__item">
    {{#link-to 'main.contact-us' class="nav-bar__link" activeClass="nav-bar__link_is-active"}}
       {{t "contact.title"}}
    {{/link-to}}
</li>
