<li class="nav-bar__item">
  <a href="#jsAboutUs" class="nav-bar__link" tabindex="2">
    {{t "general.aboutUs"}}
  </a>
</li>
<li class="nav-bar__item">
  <a href="#jsServices" class="nav-bar__link" tabindex="2">
    {{t "general.services"}}
  </a>
</li>
<li class="nav-bar__item">
  <a href="#jsWorkWithUs" class="nav-bar__link" tabindex="2">
    {{t "general.workWithUs"}}
  </a>
</li>
<li class="nav-bar__item">
  <a href="#jsContactUs" class="nav-bar__link" tabindex="2">
    {{t "general.contactUs"}}
  </a>
</li>
