<li class="nav-bar__item">
  {{#link-to 'main.about' class="nav-bar__link"}}
    {{t "general.aboutUs"}}
  {{/link-to}}
</li>
<li class="nav-bar__item">
  <a href="#services" class="nav-bar__link">
    {{t "general.services"}}
  </a>
</li>
<li class="nav-bar__item">
  <a href="#work-with-us" class="nav-bar__link">
    {{t "general.workWithUs"}}
  </a>
</li>
<li class="nav-bar__item">
  <a href="#contact-us" class="nav-bar__link">
    {{t "general.contactUs"}}
  </a>
</li>
