<div class="workwithus">
    <div class="workwithus__content">
      <div class="workwithus__title">
        {{t "workwithus.title"}}
      </div>
      <div class="workwithus__description">
        We offer best quality websites with reasonable prices
      </div>
    </div>
  </div>