<footer class="footer">
  <div class="footer__content">
    <div class="footer__column-list">
      <div class="footer__column">
        <div class="footer__column-title">
          Contact Information
        </div>
        <div class="footer__column-content">
          <p> Beissour, Lebanon </p>
          <p> rabmalaeb@gmail.com </p>
          <p> 00961 3 765495 </p>
        </div>
      </div>

      <div class="footer__column">
        <div class="footer__column-title">
          About the Website
        </div>
        <div class="footer__column-content">
          <p>
            The website is designed to be accessible and useful to as many people as possible.
          </p>
          <p>
            Read more about accessibility and cookies.
          </p>
        </div>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__link">
        <div class="footer__link-icon fab fa-facebook-f"></div>
      </div>
      <div class="footer__link">
        <div class="footer__link-icon fab fa-linkedin-in"></div>
      </div>
    </div>
  </div>
</footer>
