  <div class="services__content">
    <h2 class="services__title"> {{t "services.title"}} </h2>
    <div class="services__description">
      <p> {{t "services.description"}} </p>
    </div>
    <div class="services__service-content">
      <div class="service service_is-web">
        <div class="service__item">
          <img src="/images/web-development-icon.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Website design and development</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="service service_is-mobile">
        <div class="service__item">
          <img src="/images/mobile_develop.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Mobile application design and development</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="service service_is-custom">
        <div class="service__item">
          <img src="/images/ecommerce.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Create Custom Web Applications</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="service service_is-consultancy">
        <div class="service__item">
          <img src="/images/cloud.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Digital Consultancy</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
