  <div class="services__content">
    <h2 class="services__title"> {{t "services.title"}} </h2>
    <div class="services__description">
      <p> {{t "services.description"}} </p>
    </div>
    <div class="services__service-content">
      <div class="service service_is-web">
        <div class="service__background"></div>
        <div class="service__item">
          <img src="/images/web-development-icon.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Web Development</h3>
          </div>
          <div class="service__description">
            <p> We develop and deliver award-winning, functional, and beautiful web sites that are both technically compliant and aesthetically perfect.</p>
          </div>
        </div>
      </div>
      <div class="service service_is-mobile">
        <div class="service__background"></div>
        <div class="service__item">
          <img src="/images/mobile_develop.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Mobile App Development</h3>
          </div>
          <div class="service__description">
            <p> We bring to life, high performance Mobile Apps which are functionally excellent and carry immersive user experience.</p>
          </div>
        </div>
      </div>
      <div class="service service_is-custom">
        <div class="service__background"></div>
        <div class="service__item">
          <img src="/images/ecommerce.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Ecommerce Development</h3>
          </div>
          <div class="service__description">
            <p> We help our clients create user-centered Ecommerce solutions for an omni channel world; never losing sight of the fact that effective</p>
          </div>
        </div>
      </div>
      <div class="service service_is-consultancy">
        <div class="service__background"></div>
        <div class="service__item">
          <img src="/images/cloud.png" alt="" class="service__image">
          <div class="service__name">
            <h3>Cloud Consulting</h3>
          </div>
          <div class="service__description">
            <p> Cloud and SaaS came a long way from being just a cool term. We can identify your requirements precisely; layout optimal cloud solutions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
