  <div class="services__content">
    <h2 class="services__title"> {{t "services.title"}} </h2>
    <div class="services__description">
      <p> {{t "services.description"}} </p>
    </div>
    <div class="services__service-content">
      <div class="service">
        <article class="service__item">
          <div class="service__image">
          </div>
          <div class="service__name">
            <h3>Website design and development</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </article>
      </div>
      <div class="service">
        <article class="service__item">
          <div class="service__image">
          </div>
          <div class="service__name">
            <h3>Mobile application design and development</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </article>
      </div>
      <div class="service">
        <article class="service__item">
          <div class="service__image">
          </div>
          <div class="service__name">
            <h3>Create Custom Web Applications</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </article>
      </div>
      <div class="service">
        <article class="service__item">
          <div class="service__image">
          </div>
          <div class="service__name">
            <h3>Digital Consultancy</h3>
          </div>
          <div class="service__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
