.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_header-fixed {
    .main__header {
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 99;
      height: 70px;
      transition: all 0.5s ease-in-out 0s;
    }    
  }

  &_direction-rtl {
    direction: rtl;
  }
}

.main__header {
  z-index: 9;
}

.main__banner {
  z-index: 9;
}

.main__about-us {
  z-index: 9;
}

.main__top-bar {
  z-index: 9;
}

.main__services {
  z-index: 9;
}

.main__workwithus{
  z-index: 9;
}

.main__contact-us {
  margin-bottom: 350px;
  z-index: 9;
}
